{% load static %}
{% load humanize %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Yamazon</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <div class="container">
        <h1><a href="{% url 'app:index' %}">Yamazon</a></h1>
        <div class="header-menu">
            {% if request.user.is_authenticated %}
                <span>Point : {{ user.point | intcomma }}</span>
                <span><a href="">Fav</a></span>
                <span><a href="">Cart</a></span>
                <span><a href="">Order history</a></span>
                <span><a href="{% url 'app:logout' %}">LOGOUT</a></span>
            {% else %}
                <span><a href="{% url 'app:login' %}">LOGIN</a></span>
                <span><a href="{% url 'app:signup' %}">SignUP</a></span>
            {% endif %}
        </div>
    </div>
</header>
<div class="container">
    {% for message in messages %}
        <p class="message-{{ message.tags }}">{{ message }}</p>
    {% endfor %}

    {% block content %}{% endblock %}
</div>
</body>
</html>